body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
}
::-moz-selection {
  background: #fed136;
}
::selection {
  background: #fed136;
}

textarea:focus,
input:focus,
.navbar-toggler {
  border-color: #fed136 !important;
}
/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  width: 90%;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

/* Navbar */
.navbar {
  background-color: rgb(50, 50, 50, 0.3);
}
.navbar-brand {
  color: #fed136 !important;
  font-weight: bold;
}
.navbar-nav li a {
  color: white !important;
}
.navbar-nav li a:hover {
  color: #fed136 !important;
}
/* Header */
header {
  text-align: center;
  color: #fff;
  background-image: url("https://learn.seytech.co/assets/projects/html-css/projects/1-agency/assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 400px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h2 {
  font-size: 25px;
  text-transform: capitalize;
  margin-top: 80px;
  margin-bottom: 20px;
}

header h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.btn {
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: #fed136;
  border: none;
  padding: 10px 50px;
  text-transform: capitalize;
}

.btn:hover {
  color: white;
  background-color: #d5b02b;
}

/* Section services */
.box .fas {
  color: white;
  background-color: #fed136;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 30px;
}

#services .text {
  margin: 60px;
}
.text h1 {
  font-size: 40px;
}
.text p {
  color: rgb(145, 145, 145);
  font-style: italic;
}

.row h2 {
  font-weight: bold;
  margin: 20px;
}

.row p {
  color: rgb(145, 145, 145);
  margin: 20px;
}

/* Portfolio Section */
#portfolio,
#team {
  background-color: #f8f9fa;
}

.portfolio-item {
  background-color: #fff;
  width: 80%;
  margin: auto;
}

.portfolio-link {
  position: relative;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fed136;
}

.portfolio-link:hover .overlay {
  opacity: 0.8;
}
.portfolio-link:hover .icon {
  z-index: 10;
}
.icon {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
}

/* Section Team */
#team figure img {
  height: 200px;
  width: 200px;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.team-img h4 {
  font-weight: bold;
  margin: 0;
}

.team-img p {
  margin-top: 0;
}

.social .fab {
  border-radius: 50%;
}
/* icons */
.media {
  color: rgb(58, 58, 58);
  cursor: pointer;
}

.media:hover {
  color: black;
}

/* Section Contact*/
section#contact {
  background-color: #212529;
  background-image: url("https://raw.githubusercontent.com/StartBootstrap/startbootstrap-agency/master/dist/assets/img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}
#contact h1 {
  color: #fff;
}

#contact textarea {
  height: 100%;
  min-height: 192px;
}
/* Footer */
.footer {
  text-align: center;
}

.footer .right {
  color: #fed136;
  text-decoration: none;
  cursor: pointer;
}

.footer .right:hover {
  color: #d5b02b;
  text-decoration: underline;
}

/* Media Quarries */
@media (min-width: 575px) {
  .portfolio-item {
    width: 100%;
  }
}

@media (min-width: 768px) {
  header {
    height: 100vh;
  }
  header h1 {
    font-size: 65px;
  }

  header h2 {
    font-size: 40px;
  }
  .container {
    width: 85%;
  }
}

@media (min-width: 850px) {
  .container {
    width: 70%;
  }
}
