body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: rgb(252, 249, 244);
  text-align: center;
}

/* Global */
.container {
  width: 90%;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
/* Navbar */
.navbar-brand {
  color: #fed136 !important;
}
.navbar-nav li a {
  color: white !important;
}
/* Header */
header {
  text-align: center;
  color: #fff;
  background-image: url("https://learn.seytech.co/assets/projects/html-css/projects/1-agency/assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 400px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h2 {
  font-size: 25px;
  text-transform: capitalize;
  margin-top: 80px;
  margin-bottom: 20px;
}

header h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

header .btn {
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: #fed136;
  border: none;
  padding: 10px 50px;
}

header .btn:hover {
  color: white;
  background-color: #d5b02b;
}

/* Section services */
.box .fas {
  color: white;
  background-color: #fed136;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 30px;
}

#services .text {
  margin: 60px;
}
.text h1 {
  font-size: 40px;
}
.text p {
  color: rgb(145, 145, 145);
  font-style: italic;
}

.row h2 {
  font-weight: bold;
  margin: 20px;
}

.row p {
  color: rgb(145, 145, 145);
  margin: 20px;
}

/* Portfolio Section */
#portfolio,
#team {
  background-color: rgb(228, 227, 227);
}

#portfolio .img-fluid:hover {
  cursor: pointer;
  opacity: 1;
  background: rgba(254, 209, 54, 0.9);
}
.portfolio-hover {
  background: rgba(254, 209, 54, 0.9);
  opacity: 0.5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-hover .fa-plus {
  color: white;
  position: absolute;
}

/* Section Team */
figure img {
  height: 240px !important;
  width: 240px;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.team-img h4 {
  font-weight: bold;
  margin: 0;
}

.team-img p {
  margin-top: 0;
}
